version: '3.9'

services:
  web:
    image: krishkumarshrestha/todo:${TAG:-latest}
    ports:
      - "3000:3000"
    depends_on:
      - backend
    environment:
      POSTGRES_HOST: backend
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: todo_db
    deploy:
      placement:
        constraints:
          - node.role == worker
      restart_policy:
        condition: on-failure

  backend:
    image: postgres:15
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: todo_db
    volumes:
      - pgdata:/var/lib/postgresql/data
    deploy:
      placement:
        constraints:
          - node.role == worker
      restart_policy:
        condition: on-failure

volumes:
  pgdata:

